@font-face {
    font-family: abigate;
    src: url("fonts/abigate\ desgo.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    background-color: #07061a;
}